# MSDS 430 Milestone 1

#### Complete the following and submit your notebook and html file to Canvas. Your completed notebook should include all output, i.e. run each cell and save your file before submitting.

## <font color=blue> In this first milestone you will begin working toward the final project for this course.   </font>
    
<font color=blue>    * Milestone 1(30 pts) Describe the DataFrame and find any bad data that needs to be corrected. </font>

<font color=blue>    * Milestone 2(30 pts) Correct bad data from Milestone 1.</font>

<font color=blue>    * Final Project(40 pts) Select a single input variable to predict output and do a linear regression model.</font>

 <font color=blue>   * Bonus(Optional)(20 pts possible) Submit predictions for your linear regression model to Kaggle.com for scoring.</font>

Linear regression model building begins with a thorough look at the quality of the data and should focuse on how to repair faulty data.  Students are given direction with Python code on how to find and repair this faulty data.  Some students follow this and provide very good repair while others overlook this very important step.  To help these students that overlook the repair step, I have drafted these assignments.  This repair process fits within what is called Exploratory Data Analysis(EDA).  

A question often asked is, "How do I do EDA?" The answer is not a simple one because data is often collected in a haphazard way or may be corrupted by unknown sources.  Or, in some cases it may even be the wrong data.

Missing data, finding and fixing records that may be duplicates, out of range or outlier values, and issues that are application specific all present a challenge.

Keep in mind there are as many unknown data issues as there are ways to make mistakes.  Not all are discoverable.  But the best way to find them is to look at each dataset as a new challenge.

For example, health care claims data has issues that are application specific. There are code combinations that are denied for payment for many different reasons. There may be duplicate claims and claims that are for noncovered services, billed to wrong insurance and many more. When in doubt work with paid claims. Paid claims will remove most of these issues but some duplicate claims may still be paid.

So, the answer is dependent on the application and the best EDA will likely be performed by an individual that has knowledge of the industry and has the experience to deal with suspect data.

For this assignment a few of these issues are addressed in a fairly simple dataset. These are missing values, duplicate records, and out of range values.  But the process described should be transferable to other datasets.

Start by looking at a sample dataset called the Building Prices dataset. Purpose for this dataset is to find a input variable that will predict building prices.  Maybe taxes, bedrooms or some other variable.

However, I did add some twists to the data for this assignment. It does have some bad data and the task is to find it and fix it.

Import pandas, read the data then look at some summary measures for the data.  

Finally, for Milestone 1 provide a list of the variables, values, whatever that you think need to be fixed.  You do not need to fix them for this assignment.  Fixing the data will be the topic of Milestone 2.

In [1]:
import pandas as pd

Change the directory to match where you store the building prices data.
The lower case for df columns is a good practice that prevents program errors due to upper case variable names.

In [2]:
#Import the building data csv from downloads folder
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

In [8]:
df = pd.read_csv('building prices 2018-1.csv')
df.columns = [s.lower() for s in df.columns]
df.head()

   price  taxes  bathrooms  ...  num_bedrms  age_home  num_fplaces
0   25.9  4.918        1.0  ...           4        42            0
1   29.5  5.021        1.0  ...           4        62            0
2   27.9  4.543        1.0  ...           3        40            0
3   25.9  4.557        1.0  ...           3        54            0
4   29.9  5.060        1.0  ...           3         0            0

[5 rows x 10 columns]

In [9]:
print('Object Type:', type(df))

Object Type: <class 'pandas.core.frame.DataFrame'>

In [10]:
print('Number of Records:', len(df))

Number of Records: 29

Check for any missing values:

In [11]:
df.isnull().sum()

price           0
taxes           0
bathrooms       0
lot_size        0
living_space    0
num_garage      0
num_rooms       0
num_bedrms      0
age_home        0
num_fplaces     0
dtype: int64

Check for 0 values that may need to be fixed:

In [12]:
df[df == 0].count()

price            0
taxes            2
bathrooms        0
lot_size         1
living_space     1
num_garage       3
num_rooms        0
num_bedrms       0
age_home         2
num_fplaces     21
dtype: int64

Taxes, lot_size, living_space, age_home , num_garage and num_fplaces.  Hmmm.  What do you think?

Good idea to do a data summary:

In [13]:
dfdesc = df.describe(include = "all")
dfdesc

           price      taxes  bathrooms  ...  num_bedrms     age_home  num_fplaces
count  29.000000  29.000000  29.000000  ...   29.000000    29.000000    29.000000
mean   34.872414   6.123207   1.189655  ...    3.137931   377.068966     0.275862
std     5.848131   2.221843   0.246902  ...    0.580895  1850.634118     0.454859
min    25.900000   0.000000   1.000000  ...    2.000000     0.000000     0.000000
25%    30.000000   5.050000   1.000000  ...    3.000000    22.000000     0.000000
50%    35.900000   5.959000   1.000000  ...    3.000000    32.000000     0.000000
75%    38.900000   7.784000   1.500000  ...    3.000000    50.000000     1.000000
max    45.800000   9.142000   1.500000  ...    4.000000  9999.000000     1.000000

[8 rows x 10 columns]

Note the minimum values of 0 and some maximum values of 9999. The 9999 is an old programmer convention for a missing value.

Anything else you think of, give it a try.

Put your list of the variables, values, whatever you think needs to be fixed in the markdown cell next:

In [14]:
#Count of variables that have 9999 which are missing values.
print(df[df == 9999].count(), "\n")

#Count of variables that have 0 values.
print(df[df == 0].count())

#Records showing values of 9999 in variables living_space and age_home need to be fixed.
#Records showing values of 0 in variables taxes, lot_size, and living_space need to be fixed (home can have 0 garages,
#can be brand new, and can have 0 fireplaces)

price           0
taxes           0
bathrooms       0
lot_size        0
living_space    1
num_garage      0
num_rooms       0
num_bedrms      0
age_home        1
num_fplaces     0
dtype: int64

price            0
taxes            2
bathrooms        0
lot_size         1
living_space     1
num_garage       3
num_rooms        0
num_bedrms       0
age_home         2
num_fplaces     21
dtype: int64

In [15]:
#The following records shown an output should be fixed. Duplicate records that need to be fixed are shown in the third cell.

#Records with 9999 for variables living_space and age_home
df.loc[(df['living_space'] == 9999) | (df['age_home'] == 9999)]

#Records with 0 for variables taxes, lot_size, and living_space
df.loc[(df['taxes'] == 0) | (df['lot_size'] == 0) | (df['living_space'] == 0)]

#Age of home as 0 is also included with lot_size = 0 and living_space = 0, age of home might be an erroneous value.

    price  taxes  bathrooms  ...  num_bedrms  age_home  num_fplaces
4    29.9  5.060        1.0  ...           3         0            0
5    29.9  0.000        1.0  ...           3        56            0
22   37.9  0.000        1.0  ...           3      9999            1
26   38.9  8.361        1.5  ...           4         0            1

[4 rows x 10 columns]

In [16]:
#Records including 0 garages (just in case this is an error).

#Records with 9999 for variables living_space and age_home
df.loc[(df['living_space'] == 9999) | (df['age_home'] == 9999)]

#Records with 0 for variables taxes, lot_size, living_space, and garage
df.loc[(df['taxes'] == 0) | (df['lot_size'] == 0) | (df['living_space'] == 0) | (df['num_garage'] == 0)]

#Records 17 looks like a duplicate of 12.

    price  taxes  bathrooms  ...  num_bedrms  age_home  num_fplaces
4    29.9  5.060        1.0  ...           3         0            0
5    29.9  0.000        1.0  ...           3        56            0
7    28.9  5.604        1.0  ...           3        32            0
12   30.0  5.050        1.0  ...           2        46            1
17   30.0  5.050        1.0  ...           2        46            1
22   37.9  0.000        1.0  ...           3      9999            1
26   38.9  8.361        1.5  ...           4         0            1

[7 rows x 10 columns]

In [17]:
#Records of duplicates except for first occurence.

df[df.duplicated()]

    price  taxes  bathrooms  ...  num_bedrms  age_home  num_fplaces
16   30.9  5.959        1.0  ...           3        32            0
17   30.0  5.050        1.0  ...           2        46            1
18   36.9  8.246        1.5  ...           4        50            0
19   41.9  6.697        1.5  ...           3        22            1
20   40.5  7.784        1.5  ...           3        17            0

[5 rows x 10 columns]